.box2{
    display: flex;
    justify-content: center;
	align-content: center;
    /* height: 100vh; */
}

.sub-box2{
    justify-content: center;
	align-items: center;
}

.sub-box3{
    display: flex;
    background-image: url(fig-kirby.jpg);
    background-size: cover; /* Ensures it covers the full screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

/* .text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.div3{
    mix-blend-mode: hue;
    /* mix-blend-mode: var(foreground); */
    background-color: var(--background-color);
    /* margin-top: 100px; */
}
